async-timeout==4.0.2
Deprecated==1.2.13
numpy==1.23.3
opencv-python==4.6.0.66
packaging==21.3
protobuf==4.21.6
pycairo==1.21.0
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
redis==3.5.3
redis-py-cluster==2.1.3
TBB==0.2
wrapt==1.14.1
